.body{
    margin-top: 80px;    
    width: 100%;
    height: 100%;
    background-color: #fff;    
     
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-top: 35px;
    position: fixed;
    z-index: 999;
     
}