.skill{
    
    border-bottom: 1px solid #f0f0f0;
    gap: 16px;
    padding: 16px;
}

.skill_informations{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
     
}
.skill_informations__image{    
    width: 50px;
    height: 50px;
    margin-bottom: 8px ;
}