h3{
    display: flex;
    justify-content: center; 
    align-items: center;
    font-weight: bold;
    font-size: 26px;         
    margin: 32px 0;
 
} 
   

.skills_container{
    padding: 16px;
    border: 1px solid #f0f0f0; 
    max-height: 400px; 
    overflow-y: scroll;

}
.skills_container::-webkit-scrollbar {
    width: 8px;  
}

.skills_container::-webkit-scrollbar-thumb {
    background-color: #ccc; 
    border-radius: 14px;  
}

.skills_container::-webkit-scrollbar-track {
    background-color: #fff; 
}

.download_button{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 16px auto;
 
}